{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <section class="banner">
        <div class="container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-one">
                        <div class="text-inner">
                            <span class="note-top">cnk FARMERS</span>
                            <div class="text">
                                <h3>SUPPORT AFRICAN COFFEE</h3>
                                <h4>THE GREAT COFFEE SOURCE</h4>
                                <h4>to any country in</h4>
                                <h2 class="main">THE WORLD</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-one">
                        <div class="text-inner">
                            <span class="note-top">cnk FARMERS</span>
                            <div class="text">
                                <h3>SUPPORT AFRICAN COFFEE</h3>
                                <h4>THE GREAT COFFEE SOURCE</h4>
                                <h4>to any country in</h4>
                                <h2 class="main">THE WORLD</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-one">
                        <div class="text-inner">
                            <span class="note-top">cnk FARMERS</span>
                            <div class="text">
                                <h3>SUPPORT AFRICAN COFFEE</h3>
                                <h4>THE GREAT COFFEE SOURCE</h4>
                                <h4>to any country in</h4>
                                <h2 class="main">THE WORLD</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-one">
                        <div class="text-inner">
                            <span class="note-top">cnk FARMERS</span>
                            <div class="text">
                                <h3>SUPPORT AFRICAN COFFEE</h3>
                                <h4>THE GREAT COFFEE SOURCE</h4>
                                <h4>to any country in</h4>
                                <h2 class="main">THE WORLD</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 no-padding-left">
                    <div class="wrap-img">
                        <img src="assets/images/upload/top-choice.png" alt="" class="top-choice">
                        <img src="assets/images/upload/img-block.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 no-padding-right">
                    <div class="top">CNK'S <span>Choice</span></div>
                    <h3 class="title-article">Aida Nyala <span class="from">from</span> <span class="place">Ethiopia</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ultricies semper quam. In varius pharetra justo, vel luctus turpis. Nam eget congue augue. Nunc maximus felis in ligula sagittis, eu feugiat mauris ultrices. Phasellus a cursus urna, nec eleifend est. Etiam feugiat laoreet odio, non feugiat ligula rutrum vel. Vestibulum vitae consequat urna.</p>
                    <b>Major Beans:</b>
                    <ul class="list-major">
                        <li>Arabica</li>
                        <li>Robusta</li>
                    </ul>
                    <p><b>Positive: </b>99%</p>
                    <div class="star">
                        <div class="star-rating">
                            <span class="fa fa-star active" data-rating="1"></span>
                            <span class="fa fa-star active" data-rating="2"></span>
                            <span class="fa fa-star active" data-rating="3"></span>
                            <span class="fa fa-star active" data-rating="4"></span>
                            <span class="fa fa-star" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                    </div>
                    <span>(134 reviews)</span>
                    <button class="btn btn-primary">Offer Farmer</button>
                </div>
            </div>
            <!-- end row -->
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tincidunt purus sed sagittis. Vivamus laoreet diam dolor. Nam mi quam, semper ac mauris non, consequat eleifend purus. Aenean sit amet aliquam sem. Pellentesque nisl nibh, laoreet nec nisl ut, faucibus consequat sem. Sed a tincidunt nisi.</p>
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tincidunt purus sed sagittis.</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tincidunt purus sed sagittis. Vivamus laoreet diam dolor. Nam mi quam, semper ac mauris non, consequat eleifend purus. Aenean sit amet aliquam sem. Pellentesque nisl nibh, laoreet nec nisl ut, faucibus consequat sem. Sed a tincidunt nisi.</p>
                <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tincidunt purus sed sagittis.</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tincidunt tincidunt purus sed sagittis. Vivamus laoreet diam dolor. Nam mi quam, semper ac mauris non, consequat eleifend purus. Aenean sit amet aliquam sem. Pellentesque nisl nibh, laoreet nec nisl ut, faucibus consequat sem. Sed a tincidunt nisi.</p>
                <ul class="list">
                    <li><b>specifications:</b></li>
                    <li><b>caffeine content:</b> <span>0.8 to 1.4 %</span></li>
                    <li><b>form of seeds:</b> <span>flat with a clear midline</span></li>
                    <li><b>character stew:</b> <span>acid & chocolate</span></li>
                    <li><b>method of harvest:</b> <span>mechanical and hand pick</span></li>
                    <li><b>processing method :</b> <span>semi-wash method</span></li>
                    <li><b>screen size :</b> <span>15 -19</span></li>
                    <li><b>moisture :</b> <span>max 13 %</span></li>
                    <li><b>triage :</b> <span>max 8 - 10 %</span></li>
                    <li><b>defect value :</b> <span>max 11</span></li>
                </ul>
            </div>
            <!-- end -->
            <div class="row best-farmer">
                <div class="col-md-3">
                    <div class="flag-col top-best">
                        <div class="inner">
                            <span class="top-text">some out of best farmers</span>
                            <div class="name-col">
                                <h4>TOP BEST</h4>
                                <h3>Farmers</h3>
                                <p class="sub">From Ethiopia, Algeria, Nigeria and South Africa</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="owl-best-farmers" class="owl-carousel owl-theme">
                        {% for x in [1,2,3,4,5,6] %}
                        <div class="item">
                            <div class="wrap-img">
                                <img src="assets/images/upload/img-slide.png" alt="">
                            </div>
                            <div class="information">
                                <p class="title">Minenhle Bokamoso</p>
                                <p><i>from</i> <span class="place">Sout Africa</span></p>
                                <div class="row">
                                    <p class="percent">Positive: 99%</p>
                                    <div class="star">
                                        <div class="star-rating">
                                            <span class="fa fa-star active" data-rating="1"></span>
                                            <span class="fa fa-star active" data-rating="2"></span>
                                            <span class="fa fa-star active" data-rating="3"></span>
                                            <span class="fa fa-star active" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}