{% extends "layout/_layout.html" %} {% block page-container %}
<main>
    <section class="banner">
        <div class="container">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide1">
                        <div class="text-inner">
                            <span class="note-top">cnk Traders</span>
                            <div class="text">
                                <h3>deal of the day</h3>
                                <h4>cashless <i>transport fee</i></h4>
                                <h4>to any country in</h4>
                                <h2 class="main">EUrope</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide2">
                        <div class="text-inner">
                            <span class="note-top">cnk Traders</span>
                            <div class="text">
                                <h3>deal of the day</h3>
                                <h4>cashless <i>transport fee</i></h4>
                                <h4>to any country in</h4>
                                <h2 class="main">EUrope</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide3">
                        <div class="text-inner">
                            <span class="note-top">cnk Traders</span>
                            <div class="text">
                                <h3>deal of the day</h3>
                                <h4>cashless <i>transport fee</i></h4>
                                <h4>to any country in</h4>
                                <h2 class="main">EUrope</h2>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide1">
                        <div class="text-inner">
                            <span class="note-top">cnk Traders</span>
                            <div class="text">
                                <h3>deal of the day</h3>
                                <h4>cashless <i>transport fee</i></h4>
                                <h4>to any country in</h4>
                                <h2 class="main">EUrope</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </section>
    <section class="main">
        <div class="container">
            <div class="row block">
                <div class="col-xs-5 col-md-3 no-padding-left">
                    <div class="flag-col top-best">
                        <div class="inner">
                            <span class="top-text">some out of best farmers</span>
                            <div class="name-col">
                                <h3>Farmers</h3>
                                <p class="sub">From Ethiopia, Algeria, Nigeria and South Africa</p>
                            </div>
                            <a href="#" class="link">explore more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7 col-md-9 no-padding-right">
                    <div id="owl-best-farmers" class="owl-carousel owl-theme">
                        {% for x in [1,2,3,4,5,6] %}
                        <div class="item">
                            <div class="wrap-img">
                                <img src="assets/images/upload/img-slide.png" alt="">
                            </div>
                            <div class="information">
                                <p class="title">Minenhle Bokamoso</p>
                                <p><i>from</i> <span class="place">Sout Africa</span></p>
                                <div class="row">
                                    <p class="percent">Positive: 99%</p>
                                    <div class="star">
                                        <div class="star-rating">
                                            <span class="fa fa-star active" data-rating="1"></span>
                                            <span class="fa fa-star active" data-rating="2"></span>
                                            <span class="fa fa-star active" data-rating="3"></span>
                                            <span class="fa fa-star active" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row block">
                <div class="col-md-6 no-padding-left">
                    <div class="wrap-img">
                        <img src="assets/images/upload/top-choice.png" alt="" class="top-choice">
                        <img src="assets/images/upload/img-block.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 no-padding-right content1">
                    <div class="choice">CNK'S <span>Choice</span></div>
                    <h3 class="title-article">Aida Nyala <span class="from">from</span> <span class="place">Ethiopia</span></h3>
                    <p>Ethiopia gave the world Coffea arabica, the species that produces most of the coffee we drink these days. Today, the country is the largest African producer of Arabica coffee. The crop is the backbone of the country's economy – some 15 million Ethiopians depend on it for a living.</p>
                    <b>Major Beans:</b>
                    <ul class="list-major">
                        <li>Arabica</li>
                        <li>Robusta</li>
                    </ul>
                    <p><b>Positive: </b>99%</p>
                    <div class="star">
                        <div class="star-rating">
                            <span class="fa fa-star active" data-rating="1"></span>
                            <span class="fa fa-star active" data-rating="2"></span>
                            <span class="fa fa-star active" data-rating="3"></span>
                            <span class="fa fa-star active" data-rating="4"></span>
                            <span class="fa fa-star" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <span>(134 reviews)</span>
                    </div>
                    <button class="btn btn-primary">Offer Farmer</button>
                </div>
            </div>
            <!-- end row -->
            <div class="row block">
                <div class="col-xs-5 col-md-3 no-padding-left">
                    <div class="flag-col trader">
                        <div class="inner">
                            <span class="top-text">Easy to find transporter to anywhere around the world</span>
                            <div class="name-col">
                                <h3>Traders</h3>
                                <p class="sub">around the world</p>
                            </div>
                            <a href="#" class="link">explore more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7 col-md-9 no-padding-right">
                    <div id="owl-country1" class="owl-carousel owl-theme">
                        {% for x in [1,2,3,4,5,6] %}
                        <div class="item">
                            <div class="wrap-img">
                                <img src="assets/images/upload/img-slide2.png" alt="">
                            </div>
                            <div class="information">
                                <p class="title">Minenhle Bokamoso</p>
                                <p><i>from</i> <span class="place">Sout Africa</span></p>
                                <div class="row">
                                    <p class="percent">Positive: 99%</p>
                                    <div class="star">
                                        <div class="star-rating">
                                            <span class="fa fa-star active" data-rating="1"></span>
                                            <span class="fa fa-star active" data-rating="2"></span>
                                            <span class="fa fa-star active" data-rating="3"></span>
                                            <span class="fa fa-star active" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row block">
                <div class="col-xs-12">
                    <div class="banner-middle banner-middle1">
                       <img src="assets/images/upload/top-choice.png" alt="" class="top-choice">
                       <div class="inner">
                           <h3 class="title">best trader recommEnded by cnk</h3>
                           <img src="assets/images/upload/express.png" alt="">
                           <button class="btn btn-secondary">start your route</button>
                       </div>
                   </div>
                </div>               
            </div>
            <!-- end row -->
            <div class="row block">
                <div class="col-xs-5 col-md-3 no-padding-left">
                    <div class="flag-col roaster">
                        <div class="inner">
                            <span class="top-text">Find the Roaster that suit to your business</span>
                            <div class="name-col">
                                <h3>ROASTERS</h3>
                                <p class="sub">around the world</p>
                            </div>
                            <a href="#" class="link">explore more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7 col-md-9 no-padding-right">
                    <div id="owl-country2" class="owl-carousel owl-theme">
                        {% for x in [1,2,3,4,5,6] %}
                        <div class="item">
                            <div class="wrap-img">
                                <img src="assets/images/upload/img-slide3.png" alt="">
                            </div>
                            <div class="information">
                                <p class="title">Minenhle Bokamoso</p>
                                <p><i>from</i> <span class="place">Sout Africa</span></p>
                                <div class="row">
                                    <p class="percent">Positive: 99%</p>
                                    <div class="star">
                                        <div class="star-rating">
                                            <span class="fa fa-star active" data-rating="1"></span>
                                            <span class="fa fa-star active" data-rating="2"></span>
                                            <span class="fa fa-star active" data-rating="3"></span>
                                            <span class="fa fa-star active" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row block">
                <div class="col-xs-12">
                    <div class="banner-middle banner-middle2">
                       <img src="assets/images/upload/top-choice.png" alt="" class="top-choice">
                       <div class="inner">
                           <img src="assets/images/upload/sub-img1.png" alt="">
                           <h3 class="title">best roaster recommended by cnk</h3>
                           <button class="btn btn-secondary">deal your business</button>
                       </div>
                    </div>
                </div>                
            </div>
            <!-- end row -->
            <div class="row block">
                <div class="col-xs-5 col-md-3 no-padding-left">
                    <div class="flag-col retailers">
                        <div class="inner">
                            <span class="top-text">Find the Roaster that suit to your business</span>
                            <div class="name-col">
                                <h3>RETAILERS</h3>
                                <p class="sub">around the world</p>
                            </div>
                            <a href="#" class="link">explore more</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-7 col-md-9 no-padding-right">
                    <div id="owl-country3" class="owl-carousel owl-theme">
                        {% for x in [1,2,3,4,5,6] %}
                        <div class="item">
                            <div class="wrap-img">
                                <img src="assets/images/upload/img-slide4.png" alt="">
                            </div>
                            <div class="information">
                                <p class="title">Minenhle Bokamoso</p>
                                <p><i>from</i> <span class="place">Sout Africa</span></p>
                                <div class="row">
                                    <p class="percent">Positive: 99%</p>
                                    <div class="star">
                                        <div class="star-rating">
                                            <span class="fa fa-star active" data-rating="1"></span>
                                            <span class="fa fa-star active" data-rating="2"></span>
                                            <span class="fa fa-star active" data-rating="3"></span>
                                            <span class="fa fa-star active" data-rating="4"></span>
                                            <span class="fa fa-star" data-rating="5"></span>
                                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor%}
                    </div>
                </div>
            </div>
            <!-- end row -->
            <div class="row block">
                <div class="col-md-6 no-padding-left">
                    <div class="wrap-img">
                        <img src="assets/images/upload/top-choice.png" alt="" class="top-choice">
                        <img src="assets/images/upload/img-block2.png" alt="">
                    </div>
                </div>
                <div class="col-md-6 no-padding-right content2">
                    <div class="choice">CNK'S <span>Choice</span></div>
                    <h3 class="title-article2 ">The bunker </h3>
                    <p>From: <span class="place">America / North America</span></p>
                    <p>State: <span class="place">Native chains</span></p>
                    <p>Local: <span>1907 N. 19th St. Tampa, FL 33605</span></p>
                    <p class="descript">Established in 2006, the Bunker is an independant counter-service cafe' residing just off the main street of beautiful, historic Ybor City, FL (just outside of Downtown Tampa) serving coffees - made with locally roasted Buddy Brew beans since 2009, teas - steeped to order, host to music & art shows, & much more.</p>
                    <div class="star">
                        <div class="star-rating">
                            <span class="fa fa-star active" data-rating="1"></span>
                            <span class="fa fa-star active" data-rating="2"></span>
                            <span class="fa fa-star active" data-rating="3"></span>
                            <span class="fa fa-star active" data-rating="4"></span>
                            <span class="fa fa-star" data-rating="5"></span>
                            <input type="hidden" name="whatever1" class="rating-value" value="2.56">
                        </div>
                        <span>(134 reviews)</span>
                    </div>
                    <button class="btn btn-primary">offer retailers</button>
                </div>
            </div>

        </div>
    </section>
</main>
{% endblock %}