{% extends "layout/_layout.html" %}
{% block page-container %}
<main>
    <section class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 intro-header-content">
                    <div class="intro-text">
                        <img src="assets/images/upload/intro-text.png" alt="myFace">
                    </div>
                    <div class="text-center cta-block">
                        <a class="btn btn-primary cta" href="https://my.myface.vn" target="_blank">Đăng ký ngay</a>
                    </div>
                </div>
                <div class="col-sm-5 intro-header-img">
                    <img src="assets/images/upload/intro-img.png" alt="myFace">
                </div>
            </div>
        </div>
    </section>
    <section class="intro-main">
        <div class="promotion-content">
            <div class="like-share text-center">
                <div class="fb-like"
                    data-href="https://developers.facebook.com/docs/plugins/"
                    data-layout="button"
                    data-action="like"
                    data-size="small"
                    data-show-faces="true"
                    data-share="true">
                </div>
            </div>
            <div class="container">
                <h2 class="section-title">Giảm giá mạnh và trực tiếp trên đơn hàng</h2>
                <p class="section-title-note">Miễn phí thu hộ cho đơn hàng dưới 1.000.000đ</p>
                <div class="row promotion-content-inner">
                    <div class="hidden-sm hidden-md hidden-lg col-sm-4 block-item">
                        <div class="block-header">
                            <h3 class="block-title">Khu vực Hồ Chí Minh</h3>
                            <p class="block-title-note">( Áp dụng cho nội, ngoại thành )</p>
                        </div>
                        <div class="block-content">
                            <ul>
                                <li>
                                    <p>
                                        <strong>Giao hàng đồng giá: chỉ 9.000đ</strong> (đã có 10% VAT)
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Gói “Hỏa Tốc”: chỉ 15.000đ</strong> (đã có 10% VAT)
                                    </p>
                                </li>
                                <p class="noted">Áp dụng cho mọi đơn hàng dưới 2kg được đăng ký giao hỏa tốc trong 4h.</p>
                                <p class="noted">Khách hàng vui lòng đặt trước 13h30 mỗi ngày để được giao trong ngày. Sau 13h30, các đơn hàng sẽ được tự động đưa vào danh sách chờ và gửi vào sáng hôm sau. </p>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 block-item">
                        <div class="block-header">
                            <h3 class="block-title">HCM giao đi toàn quốc</h3>
                            <p class="block-title-note">( Áp dụng mọi tỉnh thành, vùng miền )</p>
                        </div>
                        <div class="block-content">
                            <ul>
                                <li>
                                    <p>
                                        <strong>Giảm 9.000đ/ 1 đơn hàng.</strong>
                                    </p>
                                </li>
                            </ul>
                            <p class="noted">(*) Áp dụng cho gói <strong>giao hàng nhanh</strong> và <strong>giao hàng tiết kiệm</strong>.</p>
                            <p class="noted">(*) Áp dụng cho <strong>shop tại Thành Phố Hồ Chí Minh</strong>, <br><strong>đơn hàng giao trên toàn quốc</strong>.</p>
                            <div class="block-img block-img-1">
                                <img src="assets/images/upload/block-1.png" alt="myFace">
                            </div>
                        </div>
                    </div>
                    <div class="hidden-xs col-sm-4 block-item">
                        <div class="block-header">
                            <h3 class="block-title">Khu vực Hồ Chí Minh</h3>
                            <p class="block-title-note">( Áp dụng cho nội, ngoại thành )</p>
                        </div>
                        <div class="block-content">
                            <ul>
                                <li>
                                    <p>
                                        <strong>Giao hàng đồng giá: chỉ 9.000đ</strong> (đã có 10% VAT)
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <strong>Gói “Hỏa Tốc”: chỉ 15.000đ</strong> (đã có 10% VAT)
                                    </p>
                                </li>
                            </ul>
                            <p class="noted">Áp dụng cho mọi đơn hàng dưới 2kg được đăng ký giao hỏa tốc trong 4h.</p>
                            <p class="noted">Khách hàng vui lòng đặt trước 13h30 mỗi ngày để được giao trong ngày. Sau 13h30, các đơn hàng sẽ được tự động đưa vào danh sách chờ và gửi vào sáng hôm sau. </p>
                        </div>
                    </div>
                    <div class="col-sm-4 block-item">
                        <div class="block-header">
                            <h3 class="block-title">Miễn phí thu hộ C.O.D</h3>
                            <p class="block-title-note">( Áp dụng cho đơn hàng dưới 1.000.000đ )</p>
                        </div>
                        <div class="block-content">
                            <ul>
                                <li>
                                    <p>
                                        <strong>Miễn phí thu hộ C.O.D</strong> cho mọi đơn hàng dưới 1.000.000 được phát sinh mã vận chuyển trên hệ thống giao hàng của SpeedLink.
                                    </p>
                                </li>
                                <li>
                                    <p>Chương trình áp dụng trên toàn quốc.</p>
                                </li>
                            </ul>
                            <div class="block-img block-img-2">
                                <img src="assets/images/upload/block-2.png" alt="myFace">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center cta-block">
                    <a class="btn btn-primary cta" href="https://my.myface.vn" target="_blank">Đăng ký ngay</a>
                </div>
            </div>
        </div>
        <div class="promotion-rules">
            <div class="container">
                <div class="promotion-rules-inner">
                    <div class="section-img">
                        <img src="assets/images/upload/rule-img.png" alt="myFace">
                    </div>
                    <div class="rules-content">
                        <div class="block-rules">
                            <h3 class="block-title">Quy định của chương trình</h3>
                            <div class="block-content">
                                <ul>
                                    <li>
                                        <p>Khách hàng phải hoàn tất ký kết hợp đồng sử dụng myFace.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="block-rules">
                            <h3 class="block-title">Quy định khác</h3>
                            <div class="block-content">
                                <ul>
                                    <li>
                                        <p>myFace.vn không chịu trách nhiệm khi chủ Shop đăng ký sử dụng với thông tin Shop không chính xác.</p>
                                    </li>
                                    <li>
                                        <p>Với các phí vận chuyển trên, sẽ được khấu trừ trực tiếp khi phát sinh đơn hàng trên myFace.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
