{% extends "_layout-base.html" %}
<!--header-->
{% block header%}
	{% include "../block/_header.html" %}
{% endblock %}
<!--page-container-->
{% block page-container %}{% endblock %}
<!--footer-->
{% block footer%}
	{% include "../block/_footer.html" %}
{% endblock %}
<!--modal-->
{% block modal%}
<div class="modal promotion-modal">
    <div class="modal-dialog">
        <div class="modal-header">
            <button aria-label="Close" class="close close-btn" data-dismiss="modal" type="button"></button>
        </div>
        <div class="modal-body">
            <div class="intro-content">
                <div class="section-header">
                    <p class="section-title-top">Nội dung chương trình</p>
                    <h2 class="section-title">Hồ Chí Minh ơi, “Free Ship” nội ngoại thành nè!</h2>
                    <p class="section-title-note">(*) Áp dụng trong địa bàn thành phố Hồ Chí Minh</p>
                </div>
                <div class="section-rules-content">
                    <ol class="rules" type="1">
                        <li>
                            <h1>Đối tượng chương trình:</h1>
                            <ul>
                                <li>
                                    <p>Shop đã sử dụng myFace.</p>
                                </li>
                                <li>
                                    <p>Shop chưa sử dụng myFace.</p>
                                </li>
                                <li>
                                    <p>Áp dụng tại địa bàn thành phố Hồ Chí Minh.</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h1>Nội dung chương trình:</h1>
                            <p>
                                <strong>Bước 1:</strong> Khách hàng đăng ký sử dụng hoặc đăng nhập để sử dụng công cụ quản lý myFace.
                            </p>
                            <p>
                                <strong>Bước 2:</strong> Chủ shop chọn lựa phương thức <strong>“Thanh toán và vận chuyển”</strong> thứ (3) và thứ (4) trên hệ thống để tham gia chương trình với chi tiết ưu đãi như sau:
                            </p>
                            <ul>
                                <li>
                                    <p>Miễn phí 100% chi phí vận chuyển phát sinh cho các đơn hàng giao nhận trong các quận huyện thuộc phạm vi thành phố Hồ Chí Minh.</p>
                                </li>
                                <li>
                                    <p>Chương trình áp dụng duy nhất cho đơn hàng từ 2kg trở xuống.</p>
                                </li>
                                <li>
                                    <p>Ưu đãi chỉ áp dụng cho hình thức vận chuyển tiết kiệm và bình thường.</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h1>Quy định của chương trình:</h1>
                            <ul>
                                <li>
                                    <p>Chương trình chỉ áp dụng trong địa bàn thành phố Hồ Chí Minh.</p>
                                </li>
                                <li>
                                    <p>Khách hàng phải cung cấp đầy đủ thông tin với myFace.</p>
                                </li>
                                <li>
                                    <p>Chương trình chỉ ghi nhận hợp lệ với khách hàng đã hoàn tất ký kết hợp đồng sử dụng myFace.</p>
                                </li>
                                <li>
                                    <p>Chương trình chỉ áp dụng khi chủ shop sử dụng gói vận chuyển tiết kiệm và bình thường.</p>
                                </li>
                                <li>
                                    <p>Hình thức giao hàng hỏa tốc không được áp dụng trong chương trình này.</p>
                                </li>
                                <li>
                                    <p>myFace.vn không chịu trách nhiệm khi các thành viên đăng ký thông tin cá nhân không đầy đủ hoặc không chính xác.</p>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h1>Phương thức trả thưởng:</h1>
                            <ul>
                                <li>
                                    <p>Khách hàng tham gia chương trình sẽ trả tiền vận chuyển trước theo biểu phí vận chuyển đã chọn. </p>
                                </li>
                                <li>
                                    <p>Vào ngày 01/11/2016, myFace sẽ truy xuất và thống kê báo cáo đơn hàng ở TPHCM để tổng hợp phí và hoàn chuyển cho khách.</p>
                                </li>
                                <li>
                                    <p>Khách hàng được hoàn trả phí từ ngày 05/11/2016 đến ngày 10/11/2016 theo hình thức chuyển khoản hoặc nhận tiền mặt.</p>
                                </li>
                            </ul>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
