<footer>
	<div class="container">
        <div class="col-sm-6 footer-hotline">
            <div class="hotline">
                <a href="tel:+1900636798">
                    <span class="hotline-title">
                        <span class="title">Hotline hỗ trợ:</span>
                        <span class="note">(08-18h, T2-T7)</span>
                    </span>
                    <span class="hotline-number">1900 636 798</span>
                </a>
            </div>
        </div>
        <div class="col-sm-6 footer-address">
            <div class="address">
                <span>©2016 - Công ty TNHH Thương mại Điện Tử Modern Life</span>
                <span>Trụ sở chính: P802, C.T Plaza 60A Trường Sơn, P. 2, Q. Tân Bình, TP. HCM.</span>
            </div>
        </div>
    </div>
</footer>
