<header>
    <nav class="navbar topnav" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/" title="">
                <img class="" src="assets/images/logo.png" alt="">
            </a>
            <div class="wrap-menu">
                <div class="top-menu">
                    <nav class="menu">
                        <li><a href="#">Rosbusta</a></li>
                        <li><a href="#">cenephora</a></li>
                        <li><a href="#">liberica</a></li>
                        <li><a href="#">laurina</a></li>
                        <li><a href="#">kawisari</a></li>
                    </nav>
                    <div class="search-top">
                        <div class="input-group header-search">
                            <div class="input-group-btn select-btn">
                                <select class="selectpicker cate-search">
                                    <option>Farmers</option>
                                    <option>Danh mục 1</option>
                                    <option>Danh mục 2</option>
                                    <option>Danh mục 3</option>
                                    <option>Danh mục 5</option>
                                </select>
                            </div>
                            <input aria-label="..." class="form-control input-search" placeholder="" type="text">
                            <button type="submit" class="btn btn-search">Search</button>
                        </div>
                    </div>
                    <div class="cart pull-right">
                        <a href="#">Your cart</a>
                    </div>
                </div>
                <!-- end top menu -->
                <div class="bottom-menu">
                    <nav class="menu">
                        <li><a href="#">arabica</a></li>
                        <li><a href="#">gesha</a></li>
                        <li><a href="#">typica</a></li>
                        <li><a href="#">bourbon</a></li>
                        <li><a href="#">french mission</a></li>
                        <li><a href="#">pointu</a></li>
                        <li><a href="#">SL34</a></li>
                        <li><a href="#">ethiopian harrar</a></li>
                        <li><a href="#">ethiopian sidamo</a></li>
                    </nav>
                    <div class="pull-right list-link">
                        <a href="#" class="link">Today's deal</a>
                        <a href="#" class="link">Register your beans?</a>
                        <a href="#" class="link">Sell your beans?</a>
                    </div>
                </div>
                <!-- end bottom menu -->
            </div>
        </div>
    </nav>
</header>
