<header>
	<!-- Navigation -->
    <nav class="navbar topnav" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand logo" href="/" title="myFace Shop">
                    <img class="" src="assets/images/logo.png" alt="myface">
                </a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li class="about our-number">
                    <a href="" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Liên hệ trực tiếp</a>
                    <div class="dropdown-menu about-dropdown">
                        <div class="mf-dropdown-header">
                            <h2>Nhân viên myFace sẽ trực tiếp hướng dẫn bạn</h2>
                        </div>
                        <div class="number-list">
                            <div class="number-item">
                                <a class="phone-link" href="tel:+84938166278">
                                    <label>Harry Lưu</label>
                                    <span>0938 166 278</span>
                                </a>
                            </div>
                            <div class="number-item">
                                <a  class="phone-link" href="tel:+84909739794">
                                    <label>Oliver Đông</label>
                                    <span>0909 739 794</span>
                                </a>
                            </div>
                            <div class="number-item">
                                <a class="phone-link" href="tel:+841643298683">
                                    <label>Kai Tuấn</label>
                                    <span>01643 298 683</span>
                                </a>
                            </div>
                            <div class="number-item">
                                <a  class="phone-link" href="tel:+84909563186">
                                    <label>Cain Giang</label>
                                    <span>0909 563 186</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="about about-myface">
                    <a href="" class="btn btn-default" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Giới thiệu myFace</a>
                    <div class="dropdown-menu about-dropdown">
                        <div class="mf-dropdown-header">
                            <h2>Giới thiệu về <img class="mf-logo" src="assets/images/logo.png" alt="myface"></h2>
                        </div>
                        <p class="dropdown-content">
                            myFace là một giải pháp giúp tăng doanh thu bán hàng, giúp kết nối tự động Facebook, Zalo cùng các Mạng xã hội, các sàn Thương mại điện tử, diễn dàn khác...
                            <a class="goto-mf" href="https://myface.vn/" target="_blank">Xem thêm <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </p>
                    </div>
                </li>
            </ul>
            <!-- /.navbar -->
        </div>
        <!-- /.container -->
    </nav>
</header>
