<header>
    <nav class="navbar topnav" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand logo" href="/" title="">
                <img class="" src="assets/images/logo.png" alt="">
            </a>
            <div class="wrap-menu">
                <div class="top-menu">
                    <nav class="menu">
                        <li><a href="#">Rosbusta</a></li>
                        <li><a href="#">cenephora</a></li>
                        <li><a href="#">liberica</a></li>
                        <li><a href="#">laurina</a></li>
                        <li><a href="#">kawisari</a></li>
                    </nav>
                    <div class="search-top">
                        <div class="input-group-btn select-btn">
                            <div class="btn-group bootstrap-select cate-search">
                                <button type="button" class="btn dropdown-toggle bs-placeholder btn-default" data-toggle="dropdown" role="button" title="Tất cả" aria-expanded="false"><span class="filter-option pull-left">Tất cả</span>&nbsp;<span class="bs-caret"><span class="caret"></span></span></button>
                                <select name="" id="" class="selectpicker cate-search">
                                    <option value="">Farmers</option>
                                    <option value="">Farmers</option>
                                    <option value="">Farmers</option>
                                    <option value="">Farmers</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="cart pull-right">
                        <a href="#">Your cart</a>
                    </div>
                </div>
                <!-- end top menu -->
                <div class="bottom-menu">
                    <nav class="menu">
                        <li><a href="#">arabica</a></li>
                        <li><a href="#">gesha</a></li>
                        <li><a href="#">typica</a></li>
                        <li><a href="#">bourbon</a></li>
                        <li><a href="#">french mission</a></li>
                        <li><a href="#">pointu</a></li>
                        <li><a href="#">SL34</a></li>
                        <li><a href="#">ethiopian harrar</a></li>
                        <li><a href="#">ethiopian sidamo</a></li>
                    </nav>
                    <div class="pull-right list-link">
                        <a href="#" class="link">Sell your beans?</a>
                        <a href="#" class="link">Register your beans?</a>
                        <a href="#" class="link">Today's deal</a>
                    </div>
                </div>
                <!-- end bottom menu -->
            </div>
        </div>
    </nav>
</header>
