body {
    min-height: 100%;
    background-color: #fff;
    font-family: 'Montserrat';
    font-size: 12px;
}
.star {
    margin-bottom: 40px;
    .star-rating {
        margin-right: 20px;
    }
}
.star-rating {
    line-height: 18px;
    font-size: 18px;
    display: inline-block;
    float: left;
}

.star-rating .fa-star {
    color: #e1e1e1;
    &.active {
        color: @primary-color;
    }
}

.note-top {
    padding: 3px 20px;
    background: @primary-color;
    color: #252f3f;
    font-size: 12px;
    margin-top: 15px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.mm-menu .mm-navbar a,
.mm-menu .mm-navbar>* {
    color: #fff;
}

.mm-navbar__title {
    text-transform: uppercase;
    font-weight: bold;
}
.list-major {
    padding-left: 20px;
    li {
        list-style: initial;
    }
}
// index
.swiper-button-prev {
    height: 48px;
    width: 17px;
    left: 35px;
    background: url('../images/upload/btn-prev.png') no-repeat;
}

.swiper-button-next {
    height: 48px;
    width: 17px;
    right: 35px;
    background: url('../images/upload/btn-next.png') no-repeat;
}

.swiper-wrapper {
    .swiper-slide {
        height: 300px;
        display: inline-block;
        width: 100%;
    }
    .slide-one {
        background: url('../images/upload/banner.png');
    }
    .slide-retailer {
        background: url('../images/upload/banner-2.png');
    }
    .slide1 {
        background: url('../images/banner-1.png');
    }
    .slide2 {
        background: url('../images/banner-2.png');
    }
    .slide3 {
        background: url('../images/banner-3.png');
    }
    .text-inner {
        padding-left: 95px;
        padding-right: 64px;
        display: inline-block;
        min-width: 266px;
        height: 300px;
        background-image: linear-gradient( to right, #10101066, #5858587a, rgba(72, 72, 71, 0.42), #58545400);
        .note-top {
            margin-bottom: 30px;
        }
        .text {
            h3,
            h4 {
                color: #fff;
                text-transform: uppercase;
            }
            h3 {
                font-size: 32px;
                margin: 0;
            }
            h4 {
                font-size: 22px;
                margin: 0;
                i {
                    font-weight: 500;
                }
            }
            h2.main {
                margin: 0;
                font-size: 72px;
                color: @secondary-color;
                text-transform: uppercase;
                text-shadow: 2px 2px #3c400a;
                line-height: 1;
            }
        }
    }
}

.owl-wrapper-outer {
    position: relative;
    .owl-item {
        .item {
            .information {
                .title {
                    font-size: 14px;
                    font-weight: 600;
                    margin: 0;
                }
                i {
                    font-weight: 400;
                    margin-right: 5px;
                    font-size: 14px;
                }
                .percent {
                    font-weight: bold;
                }
                .percent,
                .star {
                    display: inline-block;
                }
                .star {
                    float: right;
                }
            }
        }
    }
}

.owl-buttons {
    position: absolute;
    top: 30%;
    width: 100%;
    .owl-prev {
        position: relative;
        text-indent: -10000000000000px;
        &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "\f053";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 18px;
            display: inline-block;
            text-indent: 0;
            width: 35px;
            height: 35px;
            color: #64696e;
            background: #eff0f3;
            text-align: center;
            line-height: 35px;
        }
    }
    .owl-next {
        position: relative;
        text-indent: -10000000000000px;
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            content: "\f054";
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 18px;
            display: inline-block;
            text-indent: 0;
            width: 35px;
            height: 35px;
            color: #64696e;
            background: #eff0f3;
            text-align: center;
            line-height: 35px;
        }
    }
}

.main {
    margin-top: 30px;
    .block {
        margin-bottom: 25px;
    }
    .block-detail {
        .wrap-img {
            width: 50%;
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;
            img.main {
                margin: 0;
            }
        }
    }
    .flag-col {
        padding: 15px;
        position: relative;
        height: 330px;
        width: 100%;
        display: inline-block;
        border: @border;
        .inner {
            border: 1px solid #fff;
            height: 100%;
            padding: 40px;
            color: #fff;
            .name-col {
                h3 {
                    text-transform: uppercase;
                    font-size: 44px;
                    font-weight: 400;
                    letter-spacing: 3px;
                    margin-top: 30px;
                }
            }
            a.link {
                color: #fff;
                padding: 5px 44px;
                text-align: center;
                margin-top: 40px;
                display: inline-block;
                font-size: 20px;
                border: 1px solid #fff;
                border-bottom-left-radius: 20px;
                border-bottom-right-radius: 20px;
                border-top-right-radius: 20px;
                border-top-left-radius: 20px;
                display: block;
            }
        }
        &:after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            left: 98%;
            top: 50%;
            border: solid 1px #000;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-width: 19px;
            margin-top: -19px;
        }
    }
    .top-best {
        background: url('../images/upload/flag0.png') no-repeat;
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: @secondary-color;
        }
    }
    .trader {
        background: #252f3f;
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #252f3f;
        }
    }
    .roaster {
        background: @primary-color;
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: @primary-color;
        }
    }
    .retailers {
        background: #141a23;
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #141a23;
        }
    }
    .country1 {
        background: url('../images/upload/flag1.png');
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fbde06;
        }
    }
    .country2 {
        background: url('../images/upload/flag2.png');
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
        }
    }
    .country3 {
        background: url('../images/upload/flag3.png');
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #109b4a;
        }
    }
    .country4 {
        background: url('../images/upload/flag4.png');
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #007a4d;
        }
    }
    .native {
        background: url('../images/upload/bg-retailer1.png') no-repeat;
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
        }
        .inner {
            color: #242424;
        }
    }
    .wolrd {
        background: url('../images/upload/bg-retailer2.png') no-repeat;
        &:after {
            border-color: rgba(255, 255, 255, 0);
            border-left-color: #fff;
        }
        .inner {
            color: #242424;
        }
    }
    .owl-carousel {
        .item {
            margin: 0 20px;
            .wrap-img {
                img {
                    width: 100%;
                }
            }
            .star .star-rating {
                margin: 0;
            }
        }
    }
    .top-choice {
        position: absolute;
        top: 0;
        left: 0;
    }
    .wrap-img {
        position: relative;
    }
    .banner-middle {
        display: inline-block;
        width: 100%;
        height: 400px;
        position: relative;
        .inner {
            display: inline-block;
            margin-left: 135px;
            color: #fff;
            width: 35%;
            h3.title {
                text-transform: uppercase;
                font-size: 30px;
                letter-spacing: 2px;
                margin-top: 100px;
            }
        }
        .btn-secondary {
            margin-top: 30px;
        }
    }
    .banner-middle1 {
        background: url('../images/upload/banner-middle.png') no-repeat;
    }
    .banner-middle2 {
        background: url('../images/upload/banner-middle2.png') no-repeat;
        .inner {
            width: 40%;
            img {
                float: left;
                margin-top: 35px;
                margin-right: 20px;
            }
            .btn-secondary {
                margin-top: 40px;
            }
        }
    }
}

.title-article {
    font-size: 32px;
    color: #141a23;
    letter-spacing: 3px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 10px;
    span {
        font-size: 16px;
        font-weight: 500;
        &.place {
            font-weight: 700;
        }
    }
}

.choice {
    padding: 3px 30px;
    background: #f7941d;
    color: #252f3f;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    span {
        color: #fff;
    }
}
.content2 {
    .title-article2 {
        font-size: 36px;
        text-transform: uppercase;
        margin: 0;
        margin-top: 5px;
    }
    p {
        margin-bottom: 5px;
        &.descript {
            margin: 20px 0 50px;
        }
    }
}
.infor {
    p {
        margin: 0;
    }
}

.retailers,
.retailers-detail {
    .banner {
        position: relative;
        .top-choice {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}



// mennu mobile
.header {
    text-align: center;
}

.header {
    background: #252f3f;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 64px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 0 50px;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.header a {
    display: block;
    width: 50px;
    height: 18px;
    padding: 11px;
    position: absolute;
    top: 15px;
    left: 10px;
}

.header a:before,
.header a:after {
    content: '';
    display: block;
    background: #fff;
    height: 2px;
}

.header a span {
    background: #fff;
    display: block;
    height: 2px;
    margin: 6px 0;
}

.mm-menu {
    background: #252f3f;
    .mm-listview {
        li {
            a {
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}

.mm-listitem .mm-btn_fullwidth+a,
.mm-listitem .mm-btn_fullwidth+span {
    color: #fff;
    text-transform: uppercase;
}