footer {
    display: inline-block;
    width: 100%;
    margin-top: 50px;
    .container {
        width: 890px;
    }
    .list-menu {
        background: #252f3f;
        color: #fff;
        ul.list-menu {
            padding: 0;
            li {
                list-style: none;
                line-height: 26px;
                a {
                    color: #fff;
                }
            }
        }
        .title-menu {
            font-size: 15px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
    }
    .bottom-ft {
        background: #141a23;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        padding: 25px 0;
        p {
            margin: 0;
        }
    }
}