@media (min-width: 1400px) {
	.container {
		width: 1500px;
	}
}

@media (max-width: 1399px) {
	.container {
		width: 1170px;
	}
	header .topnav {
	    padding: 0 30px 0 0px;
	    .list-link {
	    	margin-top: 5px;
	    }
	}
	header .navbar-brand.logo {
	    padding-right: 15px;
	}
	header .wrap-menu,
	header .navbar-brand.logo,
	header {
		min-height: 85px;
	}
	.header-search {
	    width: 500px;
	}
	.main .flag-col .inner {
	    padding: 20px;
	}
	.main .flag-col .inner a.link {
	    padding: 5px 30px;
	}
	.owl-carousel {
		.owl-item {
			.item {
				width: 90%;
				.information {
					margin-top: 5px;
				}
			}
		}
	}
}