@media (min-width: 1400px) {
	.container {
		width: 1500px;
	}
	.header-search {
	    width: 60%;
	}
	header .wrap-menu .top-menu .search-top {
	    display: block;
	}
}

@media (max-width: 1399px) {
	.container {
	    width: 100%;
	}
	header .topnav {
	    padding: 0 30px 0 0px;
	    .list-link {
	    	margin-top: 5px;
	    }
	}
	header .navbar-brand.logo {
	    padding-right: 15px;
	}
	header .wrap-menu,
	header .navbar-brand.logo,
	header {
		min-height: 85px;
	}
	header .navbar-brand.logo {
	    padding: 32px 10px;
	    min-height: 98px;
	}
	.header-search {
	    width: 45%;
	}
	.main .flag-col .inner {
	    padding: 20px;
	}
	.main .flag-col .inner a.link {
	    padding: 5px 30px;
	    margin-top: 22px;
	}
	.owl-carousel {
		.owl-item {
			.item {
				.information {
					margin-top: 5px;
				}
			}
		}
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 36px;
	}
	.main .banner-middle2 .inner img {
	    margin-top: 80px;
	}
	.main .banner-middle2 .inner {
	    width: 45%;
	}
	.main .banner-middle .inner h3.title {
	    margin-top: 125px;
	}
	.main .banner-middle2 .inner .btn-secondary {
	    margin-top: 80px;
	}
}
@media (max-width: 1024px)  {
	.header-search {
	    width: 32%;
	    margin: 0 2%;
	}
	.star {
	    margin-bottom: 20px;
	}
	.main .banner-middle .inner h3.title {
	    margin-top: 105px;
	}
	.main .banner-middle .inner {
	    margin-left: 100px;
	    width: 42%;
	}
	.main .banner-middle2 .inner .btn-secondary {
	    margin-top: 60px;
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 30px;
	}
}
@media (min-width: 992px) {
	
	.main .flag-col {
	    height: 280px;
	}
	.main .flag-col .inner a.link {
	    padding: 5px 16px;
	    font-size: 19px;
	}
	
	.header {
		display: none;
	}
}
@media (max-width: 991px) {
	.container,
	footer .container {
	    width: 100%;
	}
	header {
		display: none;
	}
	.header {
		display: block;
	}
	.header-search {
		margin: 0 auto;
	}
	.search-top {
		padding-bottom: 15px;
		.btn-search {
		    position: absolute;
		    top: 0;
		    right: 0;
		    z-index: 4;
		}
	}
	.header-search {
	    width: 70%;
	}
	.input-group-btn {
		display: none;
	}
	.main .owl-carousel .item {
	    width: 88%;
	    margin: 0 auto;
	}
	.content2, .content1 {
		margin-top: 30px;
	}
	.main .banner-middle .inner {
	    width: 70%;
	}
}

@media (max-width: 767px) {
	.main .banner-middle .inner {
	    margin-left: 107px;
	    width: 75%;
	}
	.main .banner-middle2 .inner img {
	    margin-top: 75px;
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 28px;
	}
	.main .flag-col .inner a.link {
	    color: #fff;
	    padding: 5px 20px;
	    margin-top: 40px;
	    font-size: 16px;
	}
	.main .wrap-img .top-choice {
	    width: 30%;
	}
	.main .flag-col .inner {
	    text-align: center;
	}
}
@media (max-width: 580px) {
	.main .flag-col .inner a.link {
	    padding: 5px 15px;
	    font-size: 15px;
	}
	.main .banner-middle .inner {
	    margin-left: 60px;
	    width: 80%;
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 25px;
	}
}
@media (max-width: 480px) {
	.main .banner-middle .inner {
	    margin-left: 0;
	}
	.header-search {
	    width: 70%;
	}
	.header {
		line-height: normal;
		padding: 0 20px;
	}
	.swiper-wrapper .text-inner {
	    padding-left: 50px;
	}
	.block {
		.col-xs-5, .col-xs-7 {
			width: 100%;
		}
	}
	.main .top-best:after {
	    border-top-color: #219a45;
	    border-left-color: transparent;
	}
	.main .trader:after {
		border-top-color: #252f3f;
	    border-left-color: transparent;
	}
	.main .roaster:after {
		border-top-color: #f7941d;
	    border-left-color: transparent;
	}
	.main .retailers:after {
		border-top-color: #141a23;
	    border-left-color: transparent;
	}
	.main .country1:after {
	    border-top-color: #ed3040;
	    border-left-color: transparent;
	}
	.main .country2:after {
	    border-top-color: #3b9b4b;
	    border-left-color: transparent;
	}
	.main .country3:after {
	    border-top-color: #fff;
	    border-left-color: transparent;
	}
	.main .country4:after {
	    border-top-color: #1d2495;
	    border-left-color: transparent;
	}
	.main .flag-col:after {
	    left: 50%;
	    top: inherit; 
	    bottom: -30px;
	}
	.main .flag-col {
	    margin-bottom: 25px;
	    background-size: 100% 100%;
	}
	.main .banner-middle .inner {
	    width: 100%;
	    padding: 0 20px;
	}
	.main .banner-middle .inner h3.title {
	    font-size: 23px;
	    margin-top: 112px;
	}
	.owl-carousel .owl-item .item {
	    width: 100%;
	}
	.block .col-xs-5, .block .col-xs-7,
	.block .col-md-6 {
		padding: 0 15px;
	}
	.btn-secondary {
	    padding: 0 50px;
	    font-size: 16px;
	    margin: 0 auto;
	}
	.main .flag-col {
	    text-align: center;
	}
	.main .banner-middle2 .inner img {
	    margin-top: 101px;
	    width: 30%;
	}
	.main .banner-middle2 .inner h3.title {
	    margin-left: 115px;
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 36px;
	}
	.main .flag-col .inner a.link {
	    padding: 5px 40px;
	    font-size: 20px;
	}
	.main .flag-col .inner .name-col h3 {
	    font-size: 34px;
	}	
	.main .block-detail .wrap-img {
	    width: 100%;
	}
	.btn-primary {
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

@media (max-width: 360px) {
	.main .banner-middle .inner h3.title {
	    font-size: 18px;
	    margin-top: 120px;
	}
	.main .banner-middle2 .inner h3.title {
	    margin-left: 102px;
	}
	.btn-secondary {
	    padding: 0 25px;
	    font-size: 14px;
	}
}

@media (max-width: 320px) {
	.main .flag-col .inner a.link {
	    padding: 5px 35px;
	    font-size: 16px;
	}
	.main .banner-middle2 .inner h3.title {
	    margin-left: 82px;
	}
	.main .banner-middle2 .inner img {
	    margin-top: 125px;
	}
	.main .banner-middle .inner h3.title {
	    font-size: 15px;
	    margin-top: 136px;
	}
	.main .banner-middle2 .inner img {
	    margin-right: 15px;
	}
	.btn-primary {
	    padding: 0 55px;
	}
	.swiper-wrapper .text-inner .text h4 {
	    font-size: 18px;
	}
	.swiper-wrapper .text-inner .text h3 {
	    font-size: 26px;
	}
	.swiper-wrapper .text-inner .text h2.main {
	    font-size: 60px;
	}
	.swiper-wrapper .text-inner {
	    padding-left: 25px;
	}
}